.statusBar{
    width: 50%;
    height: 70px;
    margin: auto;
    margin-bottom: 5px;
  }

  .mainHeader{
    display: flex;
    justify-content: space-around;
  }


.barPlayerStatus {
    font-weight: bold;
    display: flex;
}

.barPlayerTitle{
  font-size: 20px;
  margin: 25px 5px 0 1px;

}

.barChecker{
  margin: 20px 1px 0 1px;
  
}

.barPoints{
  color: black;
  font-size: 30px;
  margin: 20px 1px 0 5px;
}



@media (max-width: 400px){

  .statusBar{
    width: 80%;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .barTitle{
    font-size: 21px;
    margin-top: 2px;
    justify-content: center;
  }
  .barPlayerStatus{
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .barPlayerTitle{
    font-size: 15px;
    margin: 7px 2px 0 4px;
  }
  .barChecker{
    margin: 0px 1px 0 1px;
  }
  .barPoints{
    color: antiquewhite;
    font-size: 15px;
    margin: 7px 8px 0 5px;
  }
}


