.header{
    margin: auto;
}



/* Media Query */
@media (max-width: 1380px) {
    .header{
      font-size: 10px;
    }
  }
  @media (max-width: 768px) {
    .header{
        font-size: 10px;
    }
  }

  @media (max-width: 450px) {
    .header{
        display: flex;
        flex-direction: column;
    }
  }
  
  